<div class="container" ng-controller="TaskCtrl">
    <div class="row col-md-12">
        <div>
            <input type="text" class="form-control input-lg" placeholder="Title"
                   ng-keypress="save($event)" ng-model="nameInput">
            <textarea type="text" class="form-control input-lg" placeholder="Description"
                   ng-keypress="save($event)" ng-model="descriptionInput"></textarea>
        </div>
    </div>
    <div class="row col-md-12 tasks">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks" class="task" >
                    <td ng-show="!isEditable[$index]">{{task.name}}</td>
                    <td ng-show="!isEditable[$index]">{{task.description}}</td>
                    <td ng-show="!isEditable[$index]">{{task.dateCreated | date:'dd-MMM-yy hh:mm:ss' }}</td>
                    <td ng-show="!isEditable[$index]">{{task.dateUpdated | date:'dd-MMM-yy hh:mm:ss'}}</td>
                    <td><input ng-show="isEditable[$index]" type="text" id="name" onChange value="{{task.name}}"
                       ng-keypress="edit($event, $index)" /></td>
                    <td><input ng-show="isEditable[$index]"  id="description" onChange value="{{task.description}}"
                               ng-keypress="edit($event, $index)" /></td>
                    <td><input ng-show="isEditable[$index]" type="button" class="btn btn-primary"
                               value="Cancel" ng-click="isEditable[$index] = false" /></td>
                    <td><input type="button" class="btn btn-default" class="pull-right"
                               value="Edit" ng-click="isEditable[$index] = true" /></td>
                    <td><input type="button" class="btn btn-danger" class="pull-right"
                       value="Delete" ng-click="delete($index)" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
